@{
    ViewBag.Title = "Home Page";
}
@using Sawa2ly.Extensions
@model IEnumerable<Sawa2ly.Models.Project>

<head>

</head>
@if (Request.IsAuthenticated)
{
    if (User.Identity.GetUserRule() == "1")
    {
        @Html.Partial("_CreateProject")
    }
    <!-- Unassigned Projects -->
    <section id="team" class="pb-5">
        <div class="container">
            <h5 class="section-title h1">UnAssigned Projects</h5>
            <div class="row">

                @foreach (var project in Model)
                {

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <p>
                                            <img class="img-fluid" src="~/Sources/images.jpg" alt="card image">
                                        </p>
                                        <h4 class="card-title">@project.Name</h4>
                                        <h6 class="card-text">@String.Concat(project.Customer.FName, " ", project.Customer.LName)</h6>
                                        <h6 class="card-text">@project.Customer.Email</h6>
                                        <h6 class="card-text">@project.Customer.PhoneNumber</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">@project.Name</h4>
                                        <p class="card-text">@project.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                }

            </div>
        </div>
    </section>
    <!-- Unassigned Projects -->
}
