@model IEnumerable<Sawa2ly.Models.ApplicationUser>
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/AdminsDash/_LayoutA.cshtml";
}

<h2 style="margin-bottom:50px;">All Users</h2>

<style>
    .profile-img img {
        width: auto;
        height: 100px;
    }

    .info {
        display: inline-block;
        margin-right: 10px;
        color: #777;
    }

        .info span {
            font-weight: bold;
        }
</style>
<div class="container">

    @foreach (var user in Model)
    {
        if (user.UserRule != "5")
        {
            <div class="row">
                <div class="list-group container-fluid">
                    <div class="list-group-item clearfix">
                        <div class="profile-teaser-left col-lg-3">
                            <div class="profile-img"><img src="~/Sources/avatar.png" /></div>
                        </div>
                        <div class="profile-teaser-main col-lg-9">
                            <div class="row">
                                <h2 class="col-lg-5">@user.FName @user.LName</h2>
                                <div class="row col-lg-4" style="padding-top: 15px">
                                    <form action="" method="delete" style="margin-right: 10px">
                                        <a class="btn btn-default" href="">
                                            <i class="fa fa-fw fa-eye"></i> Show
                                        </a>
                                    </form>
                                    <form action="@Url.Action("DeleteUsers", "Admin", new { id = @user.Id})" method="post">
                                        <input type="submit" class="btn btn-danger" value="Delete" style="margin-top: 0" />
                                    </form>
                                </div>
                            </div>
                            <div class="row col-lg-8" style="margin-top: 10px;">
                                <div class="info">
                                    <span class="">Info:</span>
                                    @if (user.UserRule == "2")
                                    {
                                        <h>Marketing Director</h>
                                    }
                                    @if (user.UserRule == "3")
                                    {
                                        <h>Marketing Team Leader</h>
                                    }
                                    @if (user.UserRule == "4")
                                    {
                                        <h>Marketing Trainee</h>
                                    }
                                    @if (user.UserRule == "1")
                                    {
                                        <h>Customer</h>
                                    }
                                </div>
                                <div class="info"><span class="">Email:</span>@user.Email</div>
                            </div>
                        </div>
                    </div><!-- item -->
                </div>
            </div>

        }
    }
    

</div>