
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Sources/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Sources/css/bootstrap.min.js"></script>
    <script src="~/Sources/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Sources/fontawesome-free-5.8.1-web/css/all.css" crossorigin="anonymous">
</head>
<body>
    @Html.Partial("~/Views/CustomersDash/_navC.cshtml")
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-sidebar" style="background-color:#e6e6e6;height:100%;">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="~/Sources/blur.jpg" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Adel Reda
                        </div>
                        <div class="profile-usertitle-job">
                            Markting Director
                        </div>
                        <div class="profile-usertitle-job">
                            adelredaa97@gmail.com
                        </div>
                        <div class="profile-usertitle-job">
                            01279767022
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                </div>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
        
    </div>
    <hr />

    <footer style="background-color:#f8f8f8;padding:40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>About Website</h2>
                    <p>
                        Sawa2ly is a commerce management system that allows customers that have Products to be able to Market their products by communicating with Marketing Directors and Marketing Team Leaders to market their products in an easy and professional way.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>About Us</h2>
                    <p>Sawa2ly is an organization that helps customers for advertizing their products in a proffesional way.</p>
                </div>
                <div class="col-md-4">
                    <h2>Contact Us</h2>
                    You can make reports by contacting us<br />
                    Cairo, Egypt<br />
                    <abbr title="Phone">Phone :</abbr>
                    19999
                    <abbr title="Phone">Email :</abbr>
                    sawa2ly@gmail.com
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
