@using Sawa2ly.Extensions;

<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-menu">
            <ul>
                <li class="header-menu">
                    <span>General</span>
                </li>
                @if (User.Identity.GetUserRule() == "5") //Admin
                {
                    <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditProfile", "Admin")">
                            <i class="far fa-edit"></i>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListUsers", "Admin")">
                            <i class="fa fa-users"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListProjects", "Admin")">
                            <i class="fa fa-paste"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                }

                @if (User.Identity.GetUserRule() == "2") // MD
                {
                    <li>
                        <a href="@Url.Action("Index", "MD")">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditProfile", "MD")">
                            <i class="far fa-edit"></i>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("DiscoverProjects", "MD")">
                            <i class="fa fa-compass "></i>
                            <span>Discover Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CurrentProjects", "MD")">
                            <i class="fa fa-paste"></i>
                            <span>Current Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PreviousProjects", "MD")">
                            <i class="fa fa-paste"></i>
                            <span>Previous Projects</span>
                        </a>
                    </li>
                }

                @if (User.Identity.GetUserRule() == "3") // MTL
                {
                    <li>
                        <a href="@Url.Action("Index", "MTL")">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("EditProfile", "MTL")">
                            <i class="far fa-edit"></i>
                            <span>Edit Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CurrentProjects", "MTL")">
                            <i class="fa fa-paste"></i>
                            <span>Current Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PreviousProjects", "MTL")">
                            <i class="fa fa-paste"></i>
                            <span>Previous Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Requests", "MTL")">
                            <i class="fa fa-flag"></i>
                            <span>Requests</span>
                        </a>
                    </li>

                }


                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                {
                @Html.AntiForgeryToken()
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out-alt "></i>
                        <span>Logout</span>
                    </a>
                </li>
                }
                <li class="header-menu">
                    <span>Extra</span>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-chart-line"></i>
                        <span>Instructions</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-phone"></i>
                        <span>Contact Developers</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>